body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ef4444, #f59e0b, #9333ea);
}

.container {
  background-color: #f7f1f1;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  width: 350px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

h1 {
  font-family: "Times New Roman", serif;
  color: #555;
}

.controls {
  margin-bottom: 15px;
  font-size: 18px;
}

select {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
}

p {
  font-size: 26px;
  font-weight: bold;
  margin: 10px 0;
  font-family: "Times New Roman", serif;
}

.options {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.option {
  padding: 10px 18px;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid gray;
  background-color: #f1f112;
  cursor: pointer;
  transition: 0.3s;
}

.option:hover {
  background-color: #f8f82a;
}

button {
  margin-top: 15px;
  padding: 10px 22px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid gray;
  cursor: pointer;
  background-color: #f39c12;
  color: white;
  transition: 0.3s;
}

button:hover {
  background-color: #d35400;
}

.score {
  font-size: 22px;
  color: #27ae60;
}

#timer {
  font-size: 18px;
  background-color: #bdc3c7;
  padding: 6px;
  border-radius: 5px;
}

#highScore {
  font-size: 22px;
  color: green;
}

.correct {
  color: green;
  animation: pop 0.3s ease;
}

.incorrect {
  color: red;
}

@keyframes pop {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
